@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased;
    background: #fbfbfd;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
    letter-spacing: -0.025em;
    font-weight: 600;
  }
}

@layer components {
  .btn-primary {
    @apply bg-black text-white px-7 py-3.5 rounded-full hover:bg-gray-800 transition-all font-medium text-[17px];
  }

  .btn-secondary {
    @apply px-7 py-3.5 text-black font-medium rounded-full hover:bg-gray-100 transition-all text-[17px];
  }

  .section-container {
    @apply max-w-7xl mx-auto px-6 sm:px-8 lg:px-12;
  }
}
